body{
    text-align: center;
    background-image: linear-gradient(100deg,  rgb(189, 189, 189), rgb(110, 110, 110));
}
form{
  background-color: black;
  opacity: 40%;
  border-style: solid;
}

header {
  border-style: solid;
  position: relative;
  height: 300px;
  background-image: linear-gradient(150deg, #ff9d2f,  purple);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
  /* change the calc height to a percentage height to get alternate responsive behavior*/
}

h1 {
  margin: 0;
  padding: 150px 0;
  font: 44px "‘DragonForcE’x";
  color: white;
  text-align: center;
}

section {
  border-style: solid;
  margin-top: -5vw;
  background-image: linear-gradient(135deg,  rgb(7, 7, 172), rgb(173, 4, 4));
}